<!DOCTYPE html>
<html lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge, chrome=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="index.css">
    <script type="text/javascript" src="./index.js"> </script>
    <!-- <script src="./index.js"></script> -->
    
    <title>  Website Page Title jajaja</title>
        <!-- <script type="text/javascript">
            function dibuja() {
            let cont = document.getElementById('cont_comentarios');
            for(let i = 0; i < 7; i++) {
                let nvoComment = '<div class="comentario" id="com'+i+'">'+
            
               '<div class="comentario_hdr">'+
                   '<h3 id="titulo_'+i+'">' + 'Entrada de noticias ' + i +'</h3>'+
                    '<p id="autor">'+i+'</p>'+
                '</div>'+
                `<div id="contenido" class="comentario_cont">${i}</div}`+
                '<img src="./ejemplo.jpg" alt="imagen de ejemplo" />'+
                '</div>';
                            cont.innerHTML += nvoComment;
            }
            }
            function inicia() {
                dibuja();
            }
        </script> -->
        
    <head>
        <div class= "header" >  
            <div class="LogoH">
                    <img src="./logo_tex_sinfondo.png" alt="Logo WemanConnect" />
            </div>
            <div class="Nav">
                <img id= "btnComment" src="./round-add-button.png" alt="Agregar comentario" />   
                <img id= "btnUser" src="./user.png" alt="Acceso a perfil"  />
                    
            </div>
                         
        </div> 
    </head>
        
    <body id="superComentarios" onload="leerComentarios()">
            <div id="cont_comentarios" >
                <div class="comentarios" >
                    <h2 class="tituloFancy"></h2>
                    <p class="fecha"></p>
                    <p class="comentarioFancy" ></p>
                    <p class="autorFancy" ></p>
                </div>
                <!-- <div class="imagenFancy">
                    <img src="./Gato_Guapo2.jpeg" alt="Gatita carey juzgadote" height="200px" />   
                </div> -->
            </div>
                <!-- <div class="imagenFancy"   >
                        <img class= "imagenes" src="./Gato_Guapo2.jpeg" alt="Gatita carey juzgadote " width="30%"/>
                </div> -->
    </body>  

<!-- The Modal -->
<div id="myModalU" class="modalU">

  <!-- Modal content -->
  <div class="modal-contentU">
            <div class="modal-headerU">
                    <span class="closeU">&times;</span>
                    <h2>Sign in</h2>
            </div>
        <form action="">
          <div class="modal-body"> 
          <p> Email<p> <br/>
            <input type="text" class="email" placeholder="Email" ></p>
            <p>Contraseña</p>
            <input type="text" class="contraseña" placeholder="Contraseña"></p>
          </div>
        </form>
  </div>
</div>
      <script>
            // Get the modal
            var modalU = document.getElementById("myModalU");
            
            // Get the button that opens the modal
            var btnU = document.getElementById("btnUser");
            
            // Get the <span> element that closes the modal
            var spanU = document.getElementsByClassName("closeU")[0];
            
            // When the user clicks the button, open the modal 
            btnU.onclick = function() {
              modalU.style.display = "block";
            }
            
            // When the user clicks on <span> (x), close the modal
            spanU.onclick = function() {
              modalU.style.display = "none";
            }
            
            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
              if (event.target == modalU) {
                modalU.style.display = "none";
              }
            }
            </script>
<!-- The Modal -->
<div id="myModalC" class="modalC">

        <!-- Modal content -->
        <div class="modal-contentC">
              <div class="modal-headerc">
                      <span class="closeC">&times;</span>
                      <h2>Publicar entrada nueva</h2>
              </div>
              <form action="">
                <div class="modal-bodyC">
                <p>Titulo de la entrada</p> 
                <input type="text" class="titcoment" placeholder="Titulo" >
                <p>Contenido</p>
                <textarea id="txtcomentario" class="contcoment" type="text"  placeholder="Comentario" > </textarea>
            </div>
            </form>
        </div>
      </div>
            <script>
                  // Get the modal
                  var modalC = document.getElementById("myModalC");
                  
                  // Get the button that opens the modal
                  var btnC = document.getElementById("btnComment");
                  
                  // Get the <span> element that closes the modal
                  var spanC = document.getElementsByClassName("closeC")[0];
                  
                  // When the user clicks the button, open the modal 
                  btnC.onclick = function() {
                    modalC.style.display = "block";
                  }
                  
                  // When the user clicks on <span> (x), close the modal
                  spanC.onclick = function() {
                    modalC.style.display = "none";
                  }
                  
                  // When the user clicks anywhere outside of the modal, close it
                  window.onclick = function(event) {
                    if (event.target == modalC) {
                      modalC.style.display = "none";
                    }
                  }
                  </script>
    </html>