
body {
    line-height: 1;
    background-color: #f5f9ff;
    font-family: "Arial";
}

h2 {
    font-size: 24px;
}

 .imagenFancy { 
   /* margin-bottom: 10%; */
   flex-wrap: wrap;
   margin-top: 2%
} 

.header {
    /* margin-top: 0%;
    margin-left: 0% */
    /* float: left; */
    /* padding-bottom: 0px;  */
    margin-bottom: 5%;
    background-image: linear-gradient(180deg, #EBDBFF 0%, #D2B3FF 100%);
    align-items: center;
    display : flex;
    /* flex-wrap: wrap; */
    width: 100%;
    justify-content: space-between;
}

.LogoH {
    margin-left: 2.1%;
    /* align-self: center; */
    
}
.Nav {
    margin-right: 1.5%
}

.fecha {
    font-size: 14px;
    text-align: right;
    color: #cbcbcb;
}


.comentarios {
    width: 90%;
    margin-left: 2.3%;
    /* width: 894px;
    height: 80px; */
    /* font-family: Roboto; */
    font-size: 18px;
    line-height: 1.33;
    color: #7c7d8d;
}

.autorFancy {
    text-align: right;
    font-size: 16px;
    font-weight: bold;
    color: #9162d1;
}

#btnComment:hover {
  cursor: pointer;
}

#btnUser:hover {
  cursor: pointer;
}

#cont_comentarios {
    margin-left: 7% ;
    margin-right: 7%;
    /*padding: 3%; */
    /* height: 208px;
    width: 1376px; */
   /* flex-wrap: wrap; */
    /* width: 100%; */
    /* box-sizing: content-box;  */   
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.07);
    background-color: #ffffff;
    /* margin: 2%; */
    display: flex;
    justify-content: right;
    padding: 30px; 
    
}

.imagenFancy {
    margin-left: 2.3%;
 }

 h2 {
    color: #9162d1;
 }

/* h1.text {
    text-align: bottom;
    vertical-align: center;
    color: whitesmoke;
    font-family: Helvetica;
    padding: 0px
    
}  */

/* img.logo {
    margin-top: .5%;
    float: left !important;
    margin-bottom: 2%;   
} */

/* img.btn {
    margin-top: .5%;
    /* margin-bottom: 2%;    
 
} */

/* The Modal (background) */
.modalU {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  /* margin-right: 40%;
  margin-left: 40%; */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  
}

.modalC {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

/* Modal Content/Box */
.modal-contentC {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 10%;
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
  border-radius: 15px;
}

.modal-contentU {
    background-color: #fefefe;
    margin-top: 10%;
    margin-left: 30%;
    margin-right: 10%; /* 15% from the top and centered */
    padding: 2%;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
    border-radius: 10px;
    justify-content: space-around;
  }

  .model-headerU {
      padding: 50%;
  }
/* The Close Button */
/* .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
} */

.closeC {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .closeC:hover,
  .closeC:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .closeU {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
  }



.closeU:hover,
.closeU:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.contcoment {
  width: 470px;
  max-width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;
}